@font-face {
        font-family: "credc";
        font-style:normal;
        font-weight:100;
        src: local("credc"), url("../fonts/CREDC___.ttf") format("truetype");
}

@font-face {
        font-family: "Affogato";
        font-style:normal;
        font-weight:100;
        src: local("Affogato-Light"), url("../fonts/Affogato-Light.otf") format("truetype");
}
@font-face {
        font-family: "Affogato";
        font-style:normal;
        font-weight:300;
        src: local("Affogato-Regular"), url("../fonts/Affogato-Regular.otf") format("truetype");
}

@font-face {
        font-family: "Affogato";
        font-style:normal;
        font-weight:500;
        src: local("Affogato-Bold"), url("../fonts/Affogato-Bold.otf") format("truetype");
}

@font-face {
        font-family: "Affogato";
        font-style:normal;
        font-weight:700;
        src: local("Affogato-Black"), url("../fonts/Affogato-Black.otf") format("truetype");
}
@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:200;
        src: local("Montserrat-Light"), url("../fonts/Affogato-Medium.otf") format("truetype");
}
@font-face {
        font-family: "Montserrat";
        font-style:normal;
        font-weight:500;
        src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.otf") format("truetype");
}
