

@media only screen and (min-device-width: 320px) and (min-device-height: 480px) {
    html {
        font-size: 6px;
    }
}

@media only screen and (min-device-width: 320px) and (min-device-height: 533px) {
    html {
        font-size: 5px;
    }
}

@media only screen and (min-device-width: 320px) and (min-device-height: 568px) {
    html {
        font-size: 6.9px;
    }
}

@media only screen and (min-device-width: 360px) and (min-device-height: 640px) {
    html {
        font-size: 7.8px;
    }
}
@media only screen and (min-device-width: 375px) and (min-device-height: 667px) {
    html {
        font-size: 8.15px;
    }
}
@media only screen and (min-device-width: 414px) and (min-device-height: 736px) {
    html {
        font-size: 9px;
    }
}
@media only screen and (min-device-width: 412px) and (min-device-height: 732px) {
    html {
        font-size: 8.9px;
    }
}

@media only screen and (min-device-width: 1366px) and (min-device-height: 1024px) {
    html {
        font-size: 18.8px;
    }
}



@media only screen and (min-device-width: 1024px) and (min-device-height: 768px) {
    html {
        font-size: 14px ;
    }
}