html {
  font-size: 10px;
  font-family: 'Affogato';
  font-weight: 300;
}
.show {
  display: block;
}
.hide {
  display: none;
}
input::-webkit-input-placeholder {
  font-family: Affogato;
  font-weight: 300;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.8);
}
input[type="text"] {
  font-family: Affogato;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 5rem;
}
input,
textarea {
  font-family: Affogato;
  font-weight: 100;
  font-size: 1.8rem;
}
body {
  margin: 0;
  font-size: 1.6rem;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slideLeft {
  left: 0 !important;
}
.mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Affogato';
}
.mainContainer .notifyBar {
  position: absolute;
  top: 0;
  height: 7rem;
  background: #de1f26;
  color: white;
  text-align: center;
  width: 50%;
  left: 50%;
  line-height: 7rem;
  display: none;
  font-size: 2rem;
  font-weight: bold;
  border-radius: .4rem;
  z-index: 10;
  transform: translate(-50%);
}
input::placholder {
  font-size: 2rem;
  width: 100%;
}
.checkoutScreen {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  display: none;
}
.checkoutScreen .header {
  position: absolute;
  height: 10rem;
  width: 100%;
  background: gray;
}
.checkoutScreen .header .iconBack {
  position: absolute;
  height: 4rem;
  top: 3rem;
  left: 7rem;
}
.checkoutScreen .contentContainer {
  position: absolute;
  top: 10rem;
  bottom: 0;
  width: 100%;
  padding: 1% 20% 0 20%;
  box-sizing: border-box;
  overflow: auto;
}
.checkoutScreen .contentContainer .userDetailsContainer {
  position: relative;
  float: left;
  height: auto;
  width: 70%;
  margin-right: 2rem;
  box-sizing: border-box;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows {
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: 5rem;
  padding-right: 5rem;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows .checkCounter {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  left: .5rem;
  top: 1rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: white;
  background: green;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows .rowHeader {
  position: relative;
  float: left;
  height: 5rem;
  width: 100%;
  line-height: 5rem;
  font-weight: 400;
  font-size: 2.2rem;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows .caption {
  position: relative;
  float: left;
  width: 100%;
  height: 3rem;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows .value {
  position: relative;
  float: left;
  width: 100%;
  height: 4rem;
  box-sizing: border-box;
  border: 1px solid lightblue;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows .btnSave {
  position: relative;
  float: left;
  width: 10rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: .4rem;
  background: orangered;
  text-align: center;
  font-weight: 400;
  color: white;
}
.checkoutScreen .contentContainer .userDetailsContainer .rows .btnSave.placeOrder {
  width: 100%;
}
.checkoutScreen .contentContainer .cartItemDetails {
  position: relative;
  float: right;
  width: 25%;
  height: auto;
}
.checkoutScreen .contentContainer .cartItemDetails .total {
  position: relative;
  float: left;
  height: 4rem;
  line-height: 4rem;
  width: 100%;
}
.checkoutScreen .contentContainer .cartItemDetails .total .text {
  position: relative;
  float: left;
  width: 50%;
}
.checkoutScreen .contentContainer .cartItemDetails .total .text.subtext {
  font-weight: 300;
  font-size: 1.3rem;
  color: gray;
  line-height: 0rem;
  letter-spacing: 1px;
  width: 100%;
}
.checkoutScreen .contentContainer .cartItemDetails .total .price {
  position: relative;
  float: right;
  text-align: right;
  width: 50%;
}
.checkoutScreen .contentContainer .cartItemDetails .total .cartValue {
  font-weight: bolder;
}
.checkoutScreen .contentContainer .cartItemDetails .total:nth-child(2) {
  border-bottom: 1px solid gray;
}
.checkoutScreen .contentContainer .cartItemDetails .total:nth-child(3) {
  font-weight: 400;
}
